<html ng-app="TvShowOrganizer">
  <head>
    <meta charset="utf-8">
    <title>TV Show Organizer 2.0</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/tema.css">
    <script src="lib/jquery/jquery.js"></script>
    <script src="lib/angular/angular.js"></script>
	  <script src="lib/angular/angular-locale_pt-br.js"></script>
	  <script src="lib/angular/angular-messages.js"></script>
    <script src="lib/bootstrap/bootstrap.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/TvShowOrganizerController.js"></script>
  </head>
  <body background="img/background.png" class="center-block container text-center" ng-controller="TvShowOrganizerController">

  <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="#">TV Show Organizer</a>
              <a class="navbar-btn btn btn" href="#" onclick="location.href = 'https://github.com/mateusmangueira/lab03-si1/tree/master/lab03-si1-master';">Meu GitHub.com</a>
              <button class="btn-info" type="button" name="button" ng-show="logado == false" data-toggle="modal" data-target="#fazerCadastro{{$index}}">Cadastrar</button>
              <button class="btn-success" type="button" name="button" ng-show="logado == false" data-toggle="modal" data-target="#fazerLogin{{$index}}">Login</button>
              <button class="username" type="button" name="button" ng-show="logado == true">Bem-vindo, {{usuario.nome}}!</button>
              <button class="btn-danger" type="button" name="button" ng-show="logado == true" ng-click="realizarLogout()">Sair da Conta</button>

              
              <div id="fazerCadastro{{$index}}" class="modal fade" role="dialog">
                  <div class="modal-dialog modal-lg">
                      <!-- Modal content-->
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title alinhacentro">Cadastro</h4>
                          </div>
                          <div class="modal-body">
                              <div class="row">
                                  <div class="input-group input alinhacentro">
                                      <p><b>Nome:</b></p>
                                      <input ng-model="username" type="text" class="form-control" placeholder="Usuario">
                                  </div>
                                  <h1> </h1>
                                  <div class="input-group input alinhacentro">
                                          <p><b>Email:</b></p>
                                          <b> </b>
                                          <input ng-model="email" type="text" class="form-control" placeholder="user@hotmail.com">
                                          <b> </b>
                                      </div>
                                  <h1> </h1>
                                  <div class="input-group input alinhacentro">
                                      <p><b>Senha:</b></p>
                                      <b> </b>
                                      <input ng-model="senha" type="password" class="form-control" placeholder="********">
                                      <b> </b>
                                      </div>
                                  <div class="input-group-btn">
                                      <button class="btn btn-basic" type="submit" ng-click="realizarCadastro(username, email, senha)" data-dismiss="modal">
                                          <i>Enviar</i>
                                      </button>
                                  </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>


         
          <div id="fazerLogin{{$index}}" class="modal fade" role="dialog">
              <div class="modal-dialog modal-lg">
                  <!-- Modal content-->
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title alinhacentro">Entrar</h4>
                      </div>
                      <div class="modal-body">
                          <div class="row">
                              <div class="input-group input alinhacentro">
                                  <p><b>Email:</b></p>
                                  <input ng-model="email" type="text" class="form-control" placeholder="seuemail@email.com">
                              </div>
                              <h1> </h1>
                              <div class="input-group input alinhacentro">
                                  <p><b>Senha:</b></p>
                                  <input ng-model="senha" type="password" class="form-control" placeholder="********">
                              </div>
                              <h1> </h1>
                              <div class="input-group-btn">
                                  <button class="btn btn-basic" type="submit" ng-click="realizarLogin(email, senha)" data-dismiss="modal">
                                      <i>Enviar</i>
                                  </button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
          </div>
      </div>
  </nav>

  <div class="top">
      <form>
          <input class="form-control" type="text" ng-model="input" name="input" placeholder="Digite o nome da série que deseja pesquisar: " onfocus="placeholder=''" onblur="placeholder='Digite o que deseja pesquisar: '"/>
          <button id="btn btn-success btn-xs button" class="btn btn-success btn-xs button" ng-click="enviarPesquisa()"><i class="glyphicon glyphicon-search"></i> Pesquisar Série</button>
      </form>
  </div>


  <p> </p>
  <h1> </h1>

  <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="#">Pesquisa</a>
          </div>
      </div>
      <table class="table">
          <tr ng-repeat="serie in busca">
              <td>{{serie.Title}}</td>
              <td><img ng-src="{{serie.Poster !== 'N/A' ? serie.Poster:'http://mteliza.vic.cricket.com.au/files/819/images/imageNotAvailable.jpg'}}" height="300" width="200"></td>
              <td><button type="submit"  class="btn-success" ng-click="adicionarSerie(serie)">Adicionar ao Perfil</button></td>
              <td><button type="submit"  class="btn-info" ng-click="adicionarSerieAoWatchlist(serie)">Adicionar ao Watchlist</button></td>
          </tr>
      </table>
  </nav>


  <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="#">Perfil</a>
          </div>
      </div>
      <table ng-show="series.length > 0" class="table">
          <tr ng-repeat="serie in profile">
              <td> </td>
              <td>{{serie.Title}}</td>
              <td><img ng-src="{{serie.Poster !== 'N/A' ? serie.Poster:'http://mteliza.vic.cricket.com.au/files/819/images/imageNotAvailable.jpg'}}" height="300" width="200"></td>
              <td><button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#informacoesDaSerie{{$index}}">Mais Informações</button></td>
              <td><button type="submit"  class="btn-danger" ng-click="apagarSerie(serie)">Remover</button></td>
              <td>
                  <div id="informacoesDaSerie{{$index}}" class="modal fade" role="dialog">
                      <div class="modal-dialog modal-lg">
                          <!-- Modal content-->
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title alinhacentro">{{serie.Title}}</h4>
                              </div>
                              <div class="modal-body">
                                  <div class="row">
                                      <div class="col-md-70 alinhacentro">
                                          <img id="imagesize" src="{{serie.Poster !== 'N/A' ? serie.Poster:'https://upload.wikimedia.org/wikipedia/commons/6/64/Poster_not_available.jpg'}}" alt="Lights">
                                      </div>
                                      <div class="col-md-70 alinhacentro">
                                          <p>{{serie.Plot}}</p>
                                      </div>
                                      <div class="col-md-70 info alinhacentro">
                                          <p><b>Média iMDB:</b> {{serie.imdbRating}}</p>
                                          <p><b>Classificação:</b> {{serie.Rated}}</p>
                                          <p><b>Sua Avaliação:</b> {{serie.avaliacao}}</p>
                                          <div class="input-group input alinhacentro">
                                              <input ng-model="nota" type="text" class="form-control" placeholder="Exemplo: 6.8">
                                              <div class="input-group-btn">
                                                  <button class="btn btn-basic" type="submit" ng-click="avaliarSerie(serie,nota)">
                                                      <i>OK</i>
                                                  </button>
                                              </div>
                                          </div>
                                          <p><b>Último Episódio Visto:</b> {{serie.ultimoEpisodio}}</p>
                                          <div class="input-group input alinhacentro">
                                              <input ng-model="lastep" type="text" class="form-control" placeholder="Exemplo: S05E01">
                                              <div class="input-group-btn">
                                                  <button class="btn btn-basic" type="submit" ng-click="alterarUltimoEpisodio(serie,lastep)">
                                                      <i>Ok</i>
                                                  </button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </td>
          </tr>
      </table>
  </nav>

  <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="#">WatchList</a>
          </div>
      </div>
      <div id="Watchlist">
          <table ng-show="watchlist.length > 0" class="table">
              <tr ng-repeat="serie in watchlist">
                  <td> </td>
                  <td>{{serie.Title}}</td>
                  <td><img ng-src="{{serie.Poster !== 'N/A' ? serie.Poster:'http://mteliza.vic.cricket.com.au/files/819/images/imageNotAvailable.jpg'}}" height="300" width="200"></td>
                  <td><button type="submit"  class="btn-success" ng-click="adicionarSerie(serie); transferirSerie(serie)">Adicionar ao Perfil</button></td>
                  <td><button type="submit"  class="btn-danger" ng-click="apagarSerieDoWatchlist(serie)">Remover</button></td>
              </tr>
          </table>
      </div>
  </nav>

  <footer class="progress">
      Copyright © 2017. Mateus Pinto Mangueira
  </footer>
  </body>
</html>
